<h1>My Todo's</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <!--for(Todo todo : todos) Java comparison-->
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date | uppercase}}</td> <!--Angular Pipe: one way to convert one value to another format-->
                <td>{{todo.done}}</td>
            </tr>
        </tbody>
    </table>
</div>